.Header {
  z-index: 99;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  backdrop-filter: blur(5px);
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
      font-size: 18px;
      gap: 5px;
      color: white;
      font-weight: 600;
      span {
        border: 2px solid white;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 10px;
        background: purple;
        color: white;
      }
    }
    .nav {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 18px;
      a {
        font-family: "League Spartan", sans-serif;
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;
        line-height: 100%;
        color: white;
        transition: 0.2s ease-in-out;
        width: max-content;
        position: relative;
        &::after {
          content: "";
          bottom: -4px;
          position: absolute;
          height: 2px;
          width: 100%;
          border-radius: 50px;
          left: 0;
          background: white;
          transition: 0.3s ease-in-out;
          transform: scaleX(0);
        }
        &:hover,
        &.active {
          color: #ff80d5;
        }
        &:hover::after,
        &.active::after {
          transform: scaleX(1);
          color: #ff80d5;
        }
      }
      .form {
        position: relative;
        input {
          backdrop-filter: blur(5px);
          border: 2px solid white;
          background: none;
          border-radius: 10px;
          font-size: 16px;
          padding: 10px 40px 10px 10px;
          color: white;
          &::placeholder {
            color: white;
          }
        }
        button {
          top: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          color: white;
          font-size: 30px;
          right: 8px;
          position: absolute;
        }
      }
    }
  }
}
