.Details {
  min-height: 61vh;
  .content {
    display: flex;
    margin: 150px 0;
    gap: 30px;
    .preview {
      width: 300px;
      img {
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
      }
      @media (max-width: 815px) {
        img {
          display: none;
        }
      }
    }
    .info {
      padding: 10px;
      border-radius: 10px;
      background: #00000067;
      backdrop-filter: blur(5px);
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      width: 70%;
      h1 {
        color: white;
        span {
          color: grey;
        }
      }
      p {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .actions {
        display: flex;
        align-items: center;
        gap: 20px;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid purple;
          background: black;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          color: white;
          font-size: 25px;
        }
        .rating {
          border: 2px solid black;
          background: #000;
          border-radius: 50%;
          width: 60px;
          height: 60px;
        }
      }
    }
    @media (max-width: 815px) {
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      .actions {
        justify-content: center;
      }
      .info {
        width: 100%;
        p {
          justify-content: center;
        }
      }
    }
    @media (max-width: 510px) {
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      .actions {
        justify-content: center;
      }
      .info {
        width: 100%;
        p {
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
