.Footer {
  padding: 40px 0;

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    color: white;

    a {
      display: flex;
      align-items: center;
      font-size: 18px;
      gap: 5px;
      color: white;
      font-weight: 600;
      text-decoration: none;
      transition: 0.3s ease;

      &:hover {
        opacity: 0.8;
      }

      span {
        border: 2px solid white;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 10px;
        background: purple;
        color: white;
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      gap: 15px;
      min-width: 160px;

      h3 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #e0b3ff;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding-left: 0;

        li {
          position: relative;
          padding-left: 20px;
          font-size: 16px;
          color: #f0f0f0;
          cursor: pointer;
          transition: color 0.3s;

          &:hover {
            color: #ff80d5;
          }

          &::before {
            content: "▹";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: #ff4081;
            font-size: 15px;
          }
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;

      .link {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
          font-size: 40px;
          transition: 0.3s ease-in-out;

          &:hover {
            transform: translateY(-3px);
            color: #ff80d5;
          }
        }
      }
    }
  }

  // ======== 📱 Адаптив ========
  @media (max-width: 1200px) {
    .content {
      justify-content: space-around;
      gap: 30px;
    }
  }

  @media (max-width: 992px) {
    .content {
      flex-wrap: wrap;

      justify-content: center;
      gap: 40px;
      text-align: center;

      .nav {
        align-items: center;
      }

      .links {
        align-items: center;
      }
    }
  }

  @media (max-width: 768px) {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 50px;

      .nav {
        width: 100%;
        align-items: center;

        h3 {
          font-size: 18px;
        }

        ul li {
          font-size: 15px;
        }
      }

      .links {
        gap: 20px;

        a {
          font-size: 16px;
        }

        .link a {
          font-size: 32px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .content {
      gap: 30px;

      .nav {
        ul li {
          font-size: 14px;
        }
      }

      .links {
        .link {
          gap: 20px;
          a {
            font-size: 28px;
          }
        }

        a span {
          font-size: 24px;
          padding: 4px;
        }
      }
    }
  }

  @media (max-width: 360px) {
    .content {
      .nav h3 {
        font-size: 16px;
      }

      .nav ul li {
        font-size: 13px;
      }

      .links a {
        font-size: 14px;
      }

      .links .link a {
        font-size: 25px;
      }
    }
  }
}
